body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-sm: 14px;

  /* Colors */
  --dark-grey: #898989;
  --color-black: #000;
  --color-whitesmoke: #eee;
  --color-white: #fff;

  /* border radiuses */
  --br-5xs: 8px;
}
